/* ItemDetail.css */
.container-itemDetal {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: center;
    margin: 0 auto;
}

.container-itemDetal img {
    object-fit: cover;
    border-radius: 10px;
    max-width: 25rem;
    border: 1rem solid #0a3d62;
}

.container-itemDetal .price-itemDetal {
    font-size: 20px;
    margin: 10px 0;
}

.container-itemDetal .quantity-itemDetal {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.container-itemDetal .quantity-itemDetal {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.h2-itemDetal {
    margin: 0.5rem 0;
}

.p-itemDetal {
    margin: 0.2rem 0;
}

.p-itemDetalLog {
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
}