/* Productos */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.product-card {
    background-color: #333;
    border-radius: 10px;
    padding: 1rem;
    max-width: clamp(240px, 25%, 300px);
    margin: 1rem;
    color: #fff;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.product-card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card .price {
    font-size: 20px;
    margin: 10px 0;
}

.product-card .quantity {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.product-card .quantity input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.btn {
    background-color: #f1ddbf;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


.btn:hover {
    background-color: #99825f;
}
